.addUserForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    color: white;
    margin-top: 10px;

}

.addUserForm input {
    width: 85%;
    padding: 5px;
    margin: 10px;
}

.addUserForm button {
    width: 100px;

}