.form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  padding: 10px;
  width: 80%;
}

.button {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #00d680;
  border-radius: 15px;
  border-color: dimgray;
  border-width: 0.25px;
  box-shadow: 2px 2px 2px #BB11BC;
  color: white;
  font-weight: bolder;
  font-size: 1rem;
}

.button:hover{
  background-color: #BB11BC;
}
