.gif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-style: solid;
}

.gif img {
  height: 240px;
  width: auto;
  margin-bottom: 5px;
}

.gif button {
  margin: 3px;
  color: white;
  background-color: #15ea98;
  border-radius: 5px;
  padding: 3px;
}
