.gif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: all 500ms;
  overflow: hidden;

  background-color: #BB11BC;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 25px;
  border-style: solid;
  box-shadow: 4px 4px 4px #00d680;
}

.gif img {
  height: 240px;
  width: auto;
  margin-bottom: 5px;
  border-radius: 5px;
}

.gif button {
  margin: 3px;
  color: white;
  background-color: #00d680;
  border-radius: 5px;
  border-style: none;
  box-shadow: 2px 2px 2px #161b22;
  padding: 3px;
  margin-bottom: 15px;
}

.gif button:hover {
  background-color: #161b22;
}